[submodule "engine"]
    path = engine
    url = git@github.com:nahasonnyaga/engine.git

[submodule "front"]
    path = front
    url = git@github.com:nahasonnyaga/front.git

[submodule "sockets"]
    path = sockets
    url = git@github.com:nahasonnyaga/sockets.git
